# OS / editor
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Terraform / cloud
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# AWS credentials / secrets
.aws/
*.pem
*.key
*.env
.env

# Archives / exports
*.zip
